{% extends "base.html" %}

{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">

<div class="row">
    <div class="offset-md-3 col-xs-4 col-md-6">

        <h1 class="text-center">About me</h1>

<p>My name is Baddi Keltoum, I'm 25 years old. I had my baccalaureate in Physical Sciences in 2016, then I continued my university studies at
                  the Faculty of Sciences and Technology Settat where I obtained my DEUST in Mathematics Computer
                  Science Physics in 2018, after which I obtained my license in Computer Engineering in 2019.
                  and currently I hold a Master BIG DATA & IOT within ENSAM CASABLANCA</p>
    </div>
</div>
             </div>
</div>
</main>

{% endblock %}