{% extends "base.html" %}

{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">

<div class="row">
    <div class="offset-md-3 col-xs-4 col-md-6">

        <h1 class="text-center">About me</h1>

<p>My name is Baddi  My name is Baddi Keltoum My name is Baddi Keltoum
My name is Baddi  My name is Baddi Keltoum My name is Baddi Keltoum
My name is Baddi  My name is Baddi Keltoum My name is Baddi Keltoum
My name is Baddi  My name is Baddi Keltoum My name is Baddi Keltoum</p>
    </div>
</div>
             </div>
</div>
</main>

{% endblock %}