{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Navbar Template |  {% endblock  %}



{% block jumbotron %}
<!--<h1>{{template_title}}</h1>-->
<!--{{user}}-->
<!--{{request.user}}-->
<!--{{block.super}}-->

<main role="main">
   <div class="jumbotron">
       <div class="container">
           <div class="row">
             <div class="col-sm-6 mx-auto col-md-8">
              <h1>Navbar examples</h1>
              <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="/docs/4.3/examples/navbar-static/">top</a> and <a href="/docs/4.3/examples/navbar-fixed/">fixed top</a> examples.</p>
              <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
              <p><a class="btn btn-light" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
              </p>
             </div>
             <div class="col-sm-6  col-md-4" >
<!--           <img src="{% static 'img/dh.jpg' %}" class="img-fluid  rounded">-->
                 <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Dz6UmueWNbM?list=PLMYF6NkLrdN9JJ7r0APq7O87gucjYWRfD"
                    title="120 Python Web Django insert video ادخال فديو" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             </div>
           </div>
       </div>
   </div>
</main>
{% endblock %}
<style>
{% block style %}
   .lead{
         text-align : center;
    }

<!--  .jumbotron {-->
<!--background-color: #b3a3af;-->
<!--color : 	#f0f6f6;-->
<!--}-->
<!--.navbar {-->
<!--margin-bottom: 7px;-->
<!--background-color: #f8f8f8;-->
<!--color : 	#000000;-->
<!--font-style: italic;-->
<!--    font-family: monospace;-->
<!--}-->

<!--.navbar-light .navbar-brand {-->

<!--color : 	#b3a3af;-->
<!--}-->
<!--.navbar-light .navbar-nav .nav-link:hover  {-->

<!--color : 	#b3a3af;-->
<!--}-->
<!--.navbar-light .navbar-toggler {-->

<!--    border-color: #b3a3af;-->
<!--}-->

<!--.rounded {-->
<!--    border-radius: 25rem !important;-->
<!--}-->
<!--.img-fluid {-->
<!--    max-width: 100%;-->
<!--    height : 100%-->
<!--}-->
{% endblock %}


</style>

{% block content %}
{% if  request.user.is_authenticated  %}
<div class="container">
 <div class="row">
    <div class="col-xs-4 col-md-12">
        <h3>You're logged in</h3>
        {% if  queryset %}
           <h4>Welcome team</h4>

           <table class="table">
               {% for  instance in queryset %}
               <tr>
                   <td>{{forloop.counter}} </td>
                   <td>{{instance}} </td>
                   <td>{{instance.full_name}}</td>
                   <td>{{instance.timestamp | timesince}} ago</td>
               </tr>
               {% if  instance.email  == "akhbazomar05@erbil.gov"%}
               <tr>
                   <td>it is same !</td>
               </tr>
               {% endif %}
               {% endfor %}
           </table>

        {% else %}
        {% endif %}
    </div>
 </div>
</div>
{% else %}
<div class="container">
 <div class="row">
    <div class="col-xs-4 col-md-3">
        <p class="lead">build by baddi keltoum &amp; Bootstrap <br> <br>
            <img src="{% static 'img/django.png' %}" class="img-fluid "  style = "width:60%" ></p>

    </div>
    <div class="col-xs-4 col-md-3">
        <p class="lead">Visit our page on facebook  <br> <br>
            <i class="fa-brands fa-square-facebook  fa-5x " style="color:#385898"></i>
        </p>

    </div>
    <div class="col-xs-4 col-md-3" >
        <p class="lead">Visit our page on twitter
             <br> <br>
        <i class="fa-brands fa-square-twitter fa-5x " style="color:#1a73e8"></i></p>
    </div>
    <div class="col-xs-4 col-md-3 ">
      <h4>{{title}}</h4>
      <form method='POST' action=""> {% csrf_token %}
      {{form|crispy}}
      <input class = "btn btn-primary" type="submit" value="Sign Up">
      </form>
    </div>
 </div>

</div>
 {% endif %}
{% endblock %}
